<div *ngIf="!opened" class="closed-block">
  <div class="centered-c">
    <div class="title-c">
      <h2>{{ course.title }}</h2>
    </div>
    <div class="description-block-c">
      <p>{{ course.description }}</p>
    </div>
    <div class="rank-lessons-c">
      <p class="rank-lessons-element-c">Lessons: {{ course.lessons.length }}</p>
      <p class="rank-lessons-element-c">Duration: {{ course.duration }}</p>
    </div>
  </div>
</div>
<div *ngIf="opened" class="open-block">
  <div class="video-block">
    <app-video
      [posterUrl]="course.previewImageLink + '/cover.webp'"
      [videoUrl]="course.meta.courseVideoPreview.link"
    ></app-video>
  </div>
  <h2 class="video-title">{{ title }}</h2>

  <div class="lessons-block">
    <div class="lessons-scroll">
      <div *ngFor="let lesson of course.lessons">
        <button class="lesson-button">{{ lesson.title }}</button>
      </div>
    </div>
  </div>
</div>
