<div *ngIf="!opened" class="closed-block">
  <div class="centered-c">
    <div class="title-c">
      <h2>{{ course.title }}</h2>
    </div>
    <div class="description-block-c">
      <p>{{ course.description }}</p>
    </div>
    <div class="rank-lessons-c">
      <p class="rank-lessons-element-c">
        All lessons: {{ course.lessons.length }}
      </p>
      <p class="rank-lessons-element-c">
        Duration: {{ (course.duration / 60).toFixed(0) }} min
      </p>
    </div>
  </div>
</div>
<div *ngIf="opened && course.lessons.length > 0" class="open-block">
  <div class="video-block">
    <app-video
      [posterUrl]="
        chosenLesson.previewImageLink == ''
          ? course.previewImageLink + '/cover.webp'
          : chosenLesson.previewImageLink +
            '/lesson-' +
            chosenLesson.order +
            '.webp'
      "
      [videoUrl]="
        chosenLesson.link == '' ? getIntroVideoLink() : chosenLesson.link
      "
    ></app-video>
  </div>
  <h2 class="video-title">{{ chosenLesson.title }}</h2>

  <div class="lessons-block">
    <div *ngFor="let lesson of course.lessons">
      <p
        class="lesson-button"
        class="{{
          lesson.status == 'unlocked'
            ? lesson.id == chosenLesson.id
              ? 'lesson-button-unlocked-chosen'
              : 'lesson-button-unlocked-unchosen'
            : 'lesson-button-locked'
        }}"
        (click)="
          chosenLesson = lesson.status == 'unlocked' ? lesson : chosenLesson;
          saveChosenLesson()
        "
      >
        Lesson {{ lesson.order }}: {{ lesson.title }}
      </p>
    </div>
  </div>
</div>
<div *ngIf="opened && course.lessons.length == 0" class="no-video-block">
  <h1 class="no-video-title">This course has no videos</h1>
</div>
