body {
  size: 0;
}

.main-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darkcyan;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.courses-box {
  border: inset darkgray 10px;
  padding: 10px;
  overflow-y: scroll;
}

.courses-box-size1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.courses-box-size2 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.courses-box-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.course-box {
  background-color: darkslateblue;
  border: inset darkgray 10px;
  padding: 10px;
  overflow-y: scroll;
}

.course-box-size1 {
  grid-column-start: 4;
  grid-column-end: 5;
}

.course-box-size2 {
  grid-column-start: 2;
  grid-column-end: 5;
}

.uncover-button {
  display: inline-block;
  font-size: 25px;
  background-color: darkslateblue;
  border: outset darkgray 5px;
  color: white;
  font-weight: 900;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.uncover-button:hover {
  border: outset black 5px;
}

.uncover-button:active {
  background-color: darkcyan;
}

.card {
  width: auto;
  padding: 5px;
  height: 430px;
  cursor: pointer;
}

.card-active {
  background-color: darkslateblue;
}

.courses-header {
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 7px;
  border-bottom: solid 3px white;
  background-color: darkslateblue;
}

.courses-box::-webkit-scrollbar {
  width: 20px;
  background-color: darkcyan;
}

.courses-box::-webkit-scrollbar-thumb {
  background-color: darkcyan;
  border: outset darkgray 6px;
}

.course-box::-webkit-scrollbar {
  width: 10px;
  background-color: darkslateblue;
}

.course-box::-webkit-scrollbar-thumb {
  background-color: darkslateblue;
  border: outset darkgray 3px;
}

.page-buttons {
  height: 1fr;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.page-button {
  height: auto;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 5px;
}

.button-name {
  margin: 0;
  height: 100%;
  width: 100%;
  border: outset darkgray 5px;
  background-color: darkcyan;
  color: white;
  font-size: x-large;
  font-weight: 600;
  cursor: pointer;
}

.button-name:hover {
  border: outset black 5px;
}

.button-name:active {
  background-color: darkslateblue;
}

.page-info {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 1fr;
  margin: 5px;
  margin-top: auto;
}
