<div class="main-div">
  <div
    class="courses-box {{
      uncovered ? 'courses-box-size2' : 'courses-box-size1'
    }}"
  >
    <h2 class="courses-header">Courses</h2>
    <div class="courses-box-items">
      <div *ngFor="let course of getPage()">
        <div
          class="card {{ course.id == courseId ? 'card card-active' : 'card' }}"
          (click)="changeCourse(course.id)"
        >
          <app-courses [course]="course"></app-courses>
        </div>
      </div>
      <div class="page-buttons">
        <h2 class="page-info courses-header">
          Page {{ page }}/{{ pageCount }}
        </h2>
        <div class="page-button">
          <button
            *ngIf="page > 1"
            (click)="page = page - 1"
            class="button-name"
          >
            <
          </button>
        </div>
        <div class="page-button">
          <button
            *ngIf="page < pageCount"
            (click)="page = page + 1"
            class="button-name"
          >
            >
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="course-box {{ uncovered ? 'course-box-size2' : 'course-box-size1' }}"
  >
    <button class="uncover-button" (click)="uncovered = !uncovered">
      {{ uncovered ? ">" : "<" }}</button
    ><app-course
      [course]="courseDetails"
      [opened]="uncovered"
      [chosenLesson]="getLastLesson()"
    ></app-course>
  </div>
</div>
